* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h2{
    font-size: 35px;
}

.btn{
background-color: black;
border-radius: 5px;
color: white;
padding: 5px 15px;
display: inline-block;
}

.btn-primary{
    font-size: 25px;
}

.btn-secondary {
    font-size: 14px;
}

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px;
}

/*FLEX BOT*/

/* rendre flexible un parent = aligner ses enfants */

.flex {
    display: flex;
    flex-wrap: wrap;

}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* CLASSE DE DIMENSIONS*/

.w-100{
    width: 100%;
}

.w-85{
    width: 85%;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;

}

.w40{
    width: 40%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-10{
    width: 10%;
}

.w-5{
    width: 5%;
}

.height{
    height: 50px;
}

.width{

    width: 300vh;
}

/*HEADER*/

.logo {
    width: 70px;
}

header ul {
    list-style: none;
}

header {
    padding: 10px 64px;
}

/* section HERO*/

.sectionhero {
    background-image: url(asset/Banner.j);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;
}

.sectionhero div{
    text-align: center;
}

h1{
    margin-bottom: 20px;
    font-size: 45px;
}
.sectionhero div p{
    margin-bottom: 50px;
    font-size: 25px;
}

/* SECTION SERVICES*/

.card{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
    border-radius: 20px;
    padding: 20px;
}
.card h3{
    margin-bottom: 20px;
}

.card p{
    margin-bottom: 20px;
}

.margin-bottom{
    margin-bottom: 30px;
}

.font-size{
    font-size: 30px;
}

.justify-center{
    justify-content: center;
}

.marginright{
    margin-right: 3px;
}

.reverse{
    flex-direction: row-reverse;
}

.border-raduis{
    border-radius: 0px 200px 0px 30px;
}

.btn2{
    background-color: blanchedalmond;
}

.border-raduiscuisine{
    border-radius: 0px 40px 0px 0px;
}

.border-raduisentreetgarage{
    border-radius: 40px 0px 0px 0px;
}

.border-raduisbureauxetchambre{
    border-radius: 0px 0px 40px 0px;
}

.border-raduiscabinetetsalon{
    border-radius: 0px 0px 0px 40px;
}

.text-align-center{
    text-align: center;
}

.backgroundcolor{
    background-color: #292F36;
}

.marginleft{
    margin-left: 100px;
}

.justify{
    justify-self: center;
}

.backgroundcolor2{
    background-color: #F4F0EC;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.border-raduiscall{
    border-radius: 10px 10px 10px 10px;
}

.marginend{
    justify-content: flex-end;
}

.backgroundcolor3{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}

.colorwhite{
    color: white;
}

.justifycontentflexstart{
    align-items: flex-start;
}

.test{
    align-items: flex-start;
}

.marginright{
    margin-right: 8px;
}

.widthtest{
    width: 200px;
}

.justifycontentflex{
    justify-content: first baseline;
}