* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;

}

.space-between {
    justify-content: space-between;
}

.w-33 {
    width: 33%;
}

.logo {
    width: 70px;
}

.align-center {
    align-items: center;
}

header nav ul {
    list-style: none;
}

.btn {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 25px;
}

.btn-secondary {
    font-size: 14px;
}

.sectionhero{
    background-image: url(asset/Banner.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    height: 100vh;

}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.margin {
    margin: 20px;
}

.justify-center{
    justify-content: center;
}

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.sectionhero div{
    text-align: center;
}

a{
    text-decoration: none;
}

.sectionhero {
    background-image: url(asset/Banner.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    height: 100vh;
}

.textesurimage{
     display: inline-block; 
}

.textalign {
  text-align: left;
}

.textaligncenter{
    text-align: center;
}

.width{
    width: 33%;
}

.textalignright{
    text-align: right;
}

.bottom{
    margin-bottom: 20px;
}

.space-between2{
    justify-content: space-between;
}

.btn2{
    background-color: white;
    color: black;
    padding: 5px 15px;
    display: inline-block;
}